//Archivo de estilos para el fondo y el cuerpo del documento

@use "../utilities/variables";
@use "../utilities/mixins";

body { /* Estilos generales del body */
	background: variables.$gradiente-cuerpo; /* Fondo degradado */
	background-attachment: fixed; /* Fija el fondo */
	color: variables.$color-texto-base; /* Color base del texto */
	font-family: variables.$fuente-base; /* Fuente principal */
	@include mixins.text-style(null, null, 1.6); /* Altura de lÃ­nea */
	min-height: 100vh; /* Altura mÃ­nima de pantalla */
}


